/*
Licensed Materials - Property of IBM

IBM Cognos Products: rsvp

(C) Copyright IBM Corp. 2005, 2011

US Government Users Restricted Rights - Use, duplication or disclosure 
restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* COPYRIGHT_DATA { 'YEAR':[2011, 2010, 2005, 2009], 'RELEASE':['colorado_wave1', 'colorado_wave2'], 'VISIBLE':'YES', 'COMPONENT':'rsvp' }*/
/*All lines above the COPYRIGHT_DATA  line will be replaced when copyright notices are generated. */
@namespace url(http://www.w3.org/1999/xhtml); /* set default namespace to HTML */

/* blocks */

html, div, map, dt, isindex, caption, :cell-content {
  display: block;
}

div, caption {
  border-width:medium;
}
	
body {
  display: block;
  margin: 8px;
}

p, dl, multicol {
  display: block;
  margin: 1em 0;
}

dd {
  display: block;
  margin-left: 40px;
}

blockquote {
  display: block;
  margin: 1em 40px;
}

address {
  display: block;
  font-style: italic;
}

center {
  display: block;
  text-align: center;
}

blockquote[type=cite] {
  display: block;
  margin: 1em 0px;
  padding-left: 1em;
  border-left: solid;
  border-color: blue;
  border-width: thin;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  display: block;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

listing {
  display: block;
  font-size: medium;
  white-space: pre;
  margin: 1em 0;
}

plaintext, xmp, pre {
  display: block;
  white-space: pre;
  margin: 1em 0;
}


/* tables */

table, :table {
  display: table;
  border-spacing: 2px; 
  border-collapse: separate;
  border-width:medium;
}

:table-outer {
  display: table;
  margin: 0;
  border: none;
  padding: 0;
  width: 0;
  height: 0;
  float: inherit;
  clear: inherit;
  position: inherit;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: inherit;
  clip: inherit;
}
   
caption {
  display: table-caption;
  text-align: center;
}

tr {
  display: table-row;
  vertical-align: middle;
}

:table-row {
  display: table-row;
}

col, :table-column {
  display: table-column;
}

colgroup, :table-column-group {
  display: table-column-group;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

:table-row-group {
  display: table-row-group;
}

td { /* must never set padding on TD */
  display: table-cell;
  vertical-align: inherit;
  text-align: inherit; 
  border-width:medium;
  background-color: inherit;
  background-image: inherit;
  background-position: inherit;
  background-repeat: inherit;
}

th { /* must never set padding on TH */
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  border-width:medium;
}

:table-cell {
  display: table-cell;
}


/* inlines */

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

b, strong {
  font-weight: bolder;
}

i, cite, em, var, dfn {
  font-style: italic;
}

tt, code, kbd, samp {
}

u, ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

blink {
  text-decoration: blink;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

/* titles */
abbr[title], acronym[title] {
  border-bottom: dotted 1px;
  cursor: help;
}

/* lists */

menu, dir {
  display: block;
  list-style-type: disc;
  counter-reset: -html-counter 0;
}

ul {
  display: block;
  list-style-type: disc;
  counter-reset: -html-counter 0;
  margin-left: 0.25in;
}

ol {
  display: block;
  list-style-type: decimal;
  counter-reset: -html-counter 0;
  margin-left: 0.25in;
}

li {
  display: list-item;
}

/* nested lists have no top/bottom margins */
ul ul,   ul ol,   ul dir,   ul menu,   ul dl,
ol ul,   ol ol,   ol dir,   ol menu,   ol dl,
dir ul,  dir ol,  dir dir,  dir menu,  dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul,   dl ol,   dl dir,   dl menu,   dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
ol ul,   ul ul,   menu ul,   dir ul,
ol menu, ul menu, menu menu, dir menu,
ol dir,  ul dir,  menu dir,  dir dir {
  list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
ol ol ul,     ol ul ul,     ol menu ul,     ol dir ul,
ol ol menu,   ol ul menu,   ol menu menu,   ol dir menu,
ol ol dir,    ol ul dir,    ol menu dir,    ol dir dir,
ul ol ul,     ul ul ul,     ul menu ul,     ul dir ul,
ul ol menu,   ul ul menu,   ul menu menu,   ul dir menu,
ul ol dir,    ul ul dir,    ul menu dir,    ul dir dir,
menu ol ul,   menu ul ul,   menu menu ul,   menu dir ul,
menu ol menu, menu ul menu, menu menu menu, menu dir menu,
menu ol dir,  menu ul dir,  menu menu dir,  menu dir dir,
dir ol ul,    dir ul ul,    dir menu ul,    dir dir ul,
dir ol menu,  dir ul menu,  dir menu menu,  dir dir menu,
dir ol dir,   dir ul dir,   dir menu dir,   dir dir dir {
  list-style-type: square;
}


/* leafs */

hr {
  display: block;
  margin: 0 auto 0 auto;
}

:link img, :visited img, img[usemap], object[usemap] {
  cursor: pointer;
}

img[usemap], object[usemap] {
/*  color: blue; */
}

object, embed, applet {
}

frameset {
  display: block ! important;
  overflow: hidden;
}

frame {
  background-color: transparent ! important; /* (b=49779) */
}

iframe {
  background-color: transparent ! important; /* (b=49779) */
  border: 2px inset;
}

noframes {
  display: block;
}


/* focusable content */

/* links */
:link {
  cursor: pointer;
}

:visited {
  cursor: pointer;
}

:link:active, :visited:active {
  color: red;
}

:link:focus, :visited:focus {
}

/* hidden elements */
area, base, basefont, head, meta, script, style, title,
noembed, noscript, param,  {
   display: none;
}


/* magic */

:viewport, :viewport-scroll, :canvas {
  display: block;
/*  background-color: inherit; */
}

:scrolled-content { 
  /* e.g., text inputs, select boxes */
/*  background: inherit; */
  padding: inherit;
/*  display: inherit; */
}

:wrapped-frame {
/*  display: inherit; */
}

:placeholder-frame {
  display: inline;
  width: 0;
  height: 0;
}

span {
  display:inline;
  border-width:medium;
}

img {
  display:inline;
  border-width:medium;
  border-style:none;
}

fieldset {
  border: 1px solid #ccc;
}

legend {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

a { 
  display:inline;
}

button {
  display:inline;
  white-space:nowrap;
  overflow: hidden;
  border-width:medium;
}
